/AccountDetails.java
/mega.java
/MegaApi.java
/MegaError.java
/MegaGlobalListener.java
/megaJNI.java
/MegaListener.java
/MegaNode.java
/MegaRequest.java
/MegaRequestListener.java
/MegaTransfer.java
/MegaTransferListener.java
/Node.java
/NodeList.java
/Share.java
/ShareList.java
/StringList.java
/User.java
/UserList.java
/GfxProcessor.java
/MegaUser.java
/TransferList.java
/MegaShare.java
/MegaTreeProcessor.java
/MegaGfxProcessor.java
/MegaProxy.java
/MegaAccountDetails.java
/MegaHashSignature.java
/MegaLogger.java
/MegaPricing.java
/MegaUserList.java
/MegaTransferList.java
/MegaShareList.java
/MegaNodeList.java
/MegaAccountBalance.java
/MegaAccountPurchase.java
/MegaAccountSession.java
/MegaAccountTransaction.java
/MegaContactRequest.java
/MegaContactRequestList.java
/MegaInputStream.java
/MegaStringList.java
/MegaChildrenLists.java
/MegaAchievementsDetails.java
/MegaFolderInfo.java

/MegaChatApi.java
/MegaChatCall.java
/MegaChatCallListener.java
/MegaChatError.java
/MegaChatListener.java
/MegaChatPeerList.java
/MegaChatRequest.java
/MegaChatRequestListener.java
/MegaChatRoom.java
/MegaChatRoomList.java
/MegaChatVideoListener.java
/MegaChatListItem.java
/MegaChatNodeHistoryListener.java
/megachat.java
/megachatJNI.java

/MegaChatListItemList.java
/MegaChatLogger.java
/MegaChatMessage.java
/MegaChatPresenceConfig.java
/MegaChatRoomListener.java
/MegaChatNotificationListener.java
/MegaEvent.java
/MegaHandleList.java
/MegaStringMap.java
/MegaTextChat.java
/MegaTextChatList.java
/MegaTextChatPeerList.java
/MegaTransferData.java
/MegaChatContainsMeta.java
/MegaChatRichPreview.java
/MegaChatGeolocation.java
/MegaChatSession.java

/MegaBackupListener.java
/MegaBackup.java

/MegaTimeZoneDetails.java
/MegaUserAlert.java
/MegaUserAlertList.java

/MegaRecentActionBucket.java
/MegaRecentActionBucketList.java
