<configuration>

    <property name="LOG_DIR" value="${LOG_DIR}" />

    <!--    SDK Rolling File appender -->
    <appender name="ROLLING" class="mega.privacy.android.data.logging.FlushableRollingFileAppender">
        <!-- active log file -->
        <file>${LOG_DIR}/log.txt</file>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>[%d{dd-MM HH:mm:ss,UTC}][%-5level] %msg %n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/log.%d.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
    </appender>

    <!--    SDK async wrapper -->
    <appender name="ASYNC_ROLLING" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="ROLLING" />
    </appender>

    <!--    Chat Rolling File appender -->
    <appender name="ROLLING_CHAT" class="mega.privacy.android.data.logging.FlushableRollingFileAppender">
        <!-- active log file -->
        <file>${LOG_DIR}/logKarere.txt</file>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/logKarere.%d.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
    </appender>

    <!--    Chat async wrapper -->
    <appender name="ASYNC_ROLLING_CHAT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="ROLLING_CHAT" />
    </appender>

    <!--    logcat appender -->
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <logger name="mega.privacy.android.data.gateway.TimberMegaLogger" level="TRACE" >
        <appender-ref ref="ASYNC_ROLLING" />
    </logger>

    <logger name="mega.privacy.android.data.gateway.TimberChatLogger" level="TRACE" >
        <appender-ref ref="ASYNC_ROLLING_CHAT" />
    </logger>

    <logger name="mega.privacy.android.data.logging.LineNumberDebugTree">
        <appender-ref ref="LOGCAT" />
    </logger>

</configuration>
