local.properties

build/
app/build/
app/src/main/obj/
app/src/main/jniLibs/
app/src/main/libs/

### Android Studio files ###
*.iml

# User-specific stuff:
.idea/

# Gradle:
.gradle/

# Captures
captures/

## File-based project format:
*.ipr
*.iws