/local.properties

/build/
/app/build/
/app/src/main/obj/
/app/src/main/jniLibs/
/app/src/main/libs/

### Android Studio files ###
*.iml
.idea/assetWizardSettings.xml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.gradle

#Captures
captures

## File-based project format:
*.ipr
*.iws
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/caches/build_file_checksums.ser
/.idea/caches/gradle_models.ser

## Google API key files
/app/src/debug/res/values/google_maps_api.xml
/app/src/release/res/values/google_maps_api.xml
