[submodule "sdk/src/main/jni/megachat/sdk"]
	path = sdk/src/main/jni/megachat/sdk
	url = https://github.com/meganz/MEGAchat.git
[submodule "sdk/src/main/jni/mega/sdk"]
	path = sdk/src/main/jni/mega/sdk
	url = https://github.com/meganz/sdk.git
