variables:
  GIT_STRATEGY: clone
  GIT_DEPTH: 0

stages:
  - scan_and_wait

scan:
  stage: scan_and_wait
  image:
    name: mega-docker.artifactory.developers.mega.co.nz:8443/gitleaks:v8.18.2-mega-1.0
    entrypoint: [""]
  script:
    - gitleaks detect -v --redact -c .gitleaks/gitleaks.toml

wait_for_jenkins:
  stage: scan_and_wait
  script:
    - echo "Waiting for Jenkins..."
    - sleep 300  # 5 minutes