[submodule "sdk/src/main/jni/megachat/sdk"]
	path = sdk/src/main/jni/megachat/sdk
	url = git@code.developers.mega.co.nz:megachat/MEGAchat.git
	branch = develop
[submodule "sdk/src/main/jni/mega/sdk"]
	path = sdk/src/main/jni/mega/sdk
	url = git@code.developers.mega.co.nz:sdk/sdk.git
	branch = develop
