/local.properties

/build/
/app/build/
/app/src/main/obj/
/app/src/main/jniLibs/
/app/src/main/libs/

### Android Studio files ###
*.iml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
.idea/encodings.xml
.gradle

#Captures
captures

## File-based project format:
*.ipr
*.iws
/app/src/main/java/nz/mega/sdk/MegaStringMap.java
/app/src/main/java/nz/mega/sdk/MegaTextChat.java
/app/src/main/java/nz/mega/sdk/MegaTextChatList.java
/app/src/main/java/nz/mega/sdk/MegaTextChatPeerList.java
/app/src/main/java/nz/mega/sdk/MegaChatMessage.java
/app/src/main/java/nz/mega/sdk/MegaChatRoomListener.java
/app/src/main/java/nz/mega/sdk/MegaChatLogger.java
/app/src/main/java/nz/mega/sdk/MegaChatListItemList.java
/app/src/main/java/nz/mega/sdk/MegaTransferData.java
/app/src/main/java/nz/mega/sdk/MegaEvent.java
