<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mega.android"
    android:installLocation="internalOnly"
    android:versionCode="25"
    android:versionName="0.24" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <supports-screens android:resizeable="true"
              android:smallScreens="true"
              android:normalScreens="true"
              android:largeScreens="true"
              android:xlargeScreens="true"
              android:anyDensity="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA" />
    
    <application
        android:name="MegaApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Megaactionbar" >
        
        <activity
            android:name="TourActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" 
            android:theme="@style/login_activity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="InitialCamSyncActivity"
            android:label="@string/cam_sync_initial_activity"
            android:launchMode="singleTop" 
            android:theme="@style/login_activity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="LoginActivity"
            android:theme="@style/login_activity"
            android:label="@string/login_activity" 
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >            
        </activity>    

        <activity
            android:name="CreateAccountActivity"
            android:label="@string/create_account_activity"
            android:theme="@style/login_activity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="ManagerActivity"
            android:label="@string/manager_activity"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" > 
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />  
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />         
        </activity>
        
        <activity android:name="OpenLinkActivity" android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
                <category android:name="android.intent.category.BROWSABLE" ></category>
                <data android:host="mega.co.nz" android:scheme="https" > </data>
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
                <category android:name="android.intent.category.BROWSABLE" ></category>
                <data android:scheme="mega" > </data>
            </intent-filter>
        </activity>
        
        <activity
            android:name="FullScreenImageViewer"
            android:label="@string/full_screen_image_viewer_label"
            android:launchMode="singleTop"
            android:theme="@style/login_activity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        
        <activity
            android:name="FilePropertiesActivity"
            android:label="@string/file_properties_activity"
            android:launchMode="singleTop">            
        </activity>
        
        <activity
            android:name="ContactPropertiesActivity"
            android:label="@string/contact_properties_activity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:uiOptions="splitActionBarWhenNarrow" >            
        </activity>
        
        <activity
            android:name="ContactFileListActivity"
            android:label="@string/contact_file_list_activity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:uiOptions="splitActionBarWhenNarrow" >            
        </activity>
        
        <activity 
            android:name="FileExplorerActivity"
            android:label="@string/app_name"
            android:theme="@style/login_activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="FileStorageActivity"
            android:label="@string/app_name"
            android:theme="@style/login_activity" >
        </activity>
        
        <activity
            android:name="SortByDialogActivity"
            android:label="@string/general_sort_by"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity
            android:name="ChangePasswordActivity"
            android:label="@string/change_password_activity" >
        </activity>
        
        <activity
            android:name="UpgradeActivity"
            android:label="@string/upgrade_activity" >
        </activity>
        
        <activity
            android:name="UpgradePaymentActivity"
            android:label="@string/upgrade_activity" >
        </activity>
        
        <activity
            android:name="SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        
        <activity
            android:name="SettingsActivityHC"
            android:label="@string/action_settings" >
        </activity>
        
        <activity
            android:name="PinLockActivity"
            android:label="@string/settings_pin_lock" >
        </activity>
        
        <service
            android:name="CameraSyncService"
            android:exported="false" >
        </service>
        
        <service
            android:name="DownloadService"
            android:exported="false" >
        </service>
        
        <service
            android:name="UploadService"
            android:exported="false" >
        </service>
        
        <receiver
	        android:name="com.mega.android.receivers.CameraEventReceiver"
	        android:enabled="true" >
	        <intent-filter>
	            <action android:name="com.android.camera.NEW_PICTURE" />
	            <action android:name="android.hardware.action.NEW_PICTURE" />
            	<category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="image/*" />
	        </intent-filter>
    	</receiver>
    	
        <receiver
	        android:name="com.mega.android.receivers.NetEventReceiver"
	        android:enabled="true" >
	        <intent-filter>
	           <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	        </intent-filter>
    	</receiver>
    	
        <receiver
	        android:name="com.mega.android.receivers.ChargeEventReceiver"
	        android:enabled="true" >
	        <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
    	</receiver>
    	
        <receiver
	        android:name="com.mega.android.receivers.BootEventReceiver"
	        android:enabled="true" >
	      	<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
    	</receiver>
        
    </application>

</manifest>