<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mega.privacy.android.app"
    android:installLocation="internalOnly">

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FLAG_SHOW_WHEN_LOCKED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- For apps targeting Android 12 (API level 31) and higher,
    apps must have the Manifest.permission.SCHEDULE_EXACT_ALARM permission
    in order to use any APIs for setting exact alarms -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- For apps targeting Android 13 (API level 33) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Content opened outside the app -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="application/*" />
        </intent>

        <!-- URLs opened outside the app -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="*"
                android:mimeType="application/*"
                android:scheme="https" />
        </intent>

        <!-- Location opened outside the app -->
        <package android:name="com.google.android.apps.maps" />

        <!-- Open authentication apps -->
        <package android:name="com.google.android.apps.authenticator2" />
    </queries>

    <application
        android:name=".MegaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_mega"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_mega_round"
        android:screenOrientation="fullUser"
        android:theme="@style/Theme.Mega"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/action_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".main.ManagerActivity"/>

        <meta-data
            android:name="fontProviderRequests"
            android:value="Noto Color Emoji Compat" />

        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false" />

        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="false" />

        <activity
            android:name=".presentation.login.LoginActivity"
            android:label="@string/login_text"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.ManagerActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".main.megaachievements.AchievementsActivity" />
        <activity
            android:name=".OpenLinkActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Use separate scheme and host data tags entries for this intent-filter definition -->
                <!-- Please keep this format, otherwise it will cause web intent verification error-->
                <data android:host="mega.co.nz" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mega.co.nz"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Use separate scheme and host data tags entries for this intent-filter definition -->
                <!-- Please keep this format, otherwise it will cause web intent verification error-->
                <data android:host="mega.nz" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mega.nz"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mega" />
            </intent-filter>
        </activity>
        <activity
            android:name="mega.privacy.android.app.imageviewer.ImageViewerActivity"
            android:label=""
            android:launchMode="singleTop"
            android:theme="@style/Theme.Mega.FullScreen.Viewer"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".main.ContactFileListActivity"
            android:label="@string/contact_properties_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.FileContactListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/file_properties_shared_folder_select_contact"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.FileExplorerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.megachat.ChatExplorerActivity" />
        <activity
            android:name=".main.megachat.NodeAttachmentHistoryActivity" />
        <activity
            android:name=".main.CountryCodePickerActivity" />
        <activity
            android:name=".providers.PasscodeFileProviderActivity" />
        <activity
            android:name=".providers.FileProviderActivity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="x-conference/*" />
                <data android:mimeType="model/*" />
                <data android:mimeType="chemical/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="x-conference/*" />
                <data android:mimeType="model/*" />
                <data android:mimeType="chemical/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.FileStorageActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".main.FolderLinkActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".main.megachat.ContactAttachmentActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".main.TestPasswordActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".main.FileLinkActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".OpenPasswordLinkActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialComponents.DayNight.Dialog" />
        <activity
            android:name=".main.ChangePasswordActivity"
            android:label="@string/my_account_change_password" />
        <activity
            android:name=".getLink.GetLinkActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".activities.settingsActivities.PasscodeLockActivity"
            android:label="@string/settings_passcode_lock"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".zippreview.ui.ZipBrowserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/zip_browser_activity" />
        <activity
            android:name=".main.AddContactActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.InviteContactActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.megachat.ChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.megachat.ArchivedChatsActivity" />
        <activity
            android:name=".main.ContactInfoActivity" />
        <activity
            android:name=".presentation.fileinfo.FileInfoActivity" />
        <activity
            android:name=".activities.OfflineFileInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.VersionsFileActivity" />
        <activity
            android:name=".main.megachat.GroupChatInfoActivity" />
        <activity
            android:name=".main.PdfViewerActivity"
            android:exported="true"
            android:label="@string/pdf_app_name"
            android:launchMode="singleTop">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mediaplayer.VideoPlayerActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.Mega.FullScreen.VideoPlayer"/>
        <activity
            android:name=".mediaplayer.AudioPlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.qrcode.QRCodeActivity" />
        <activity
            android:name=".main.TwoFactorAuthenticationActivity" />
        <activity
            android:name=".main.VerifyTwoFactorActivity" />
        <activity
            android:name=".BusinessExpiredAlertActivity" />
        <activity android:name=".smsVerification.SMSVerificationActivity" />
        <activity android:name=".smsVerification.SMSVerificationReceiveTxtActivity" />
        <activity
            android:name=".activities.settingsActivities.CameraUploadsPreferencesActivity"
            android:label="@string/section_photo_sync"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settingsActivities.ChatNotificationsPreferencesActivity"
            android:label="@string/title_properties_chat_notifications_contact"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settingsActivities.ChatPreferencesActivity"
            android:label="@string/section_chat"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.settings.chat.imagequality.SettingsChatImageQualityActivity"
            android:exported="false"
            android:label="@string/settings_chat_image_quality" />
        <activity
            android:name=".presentation.settings.calls.SettingsCallsActivity"
            android:label="@string/settings_calls_preferences"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settingsActivities.DownloadPreferencesActivity"
            android:label="@string/download_location"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settingsActivities.FileManagementPreferencesActivity"
            android:label="@string/settings_file_management_category"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settingsActivities.PasscodePreferencesActivity"
            android:label="@string/settings_passcode_lock_switch"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settingsActivities.CookiePreferencesActivity"
            android:label="@string/settings_about_cookie_settings"
            android:launchMode="singleTop" />
        <activity
            android:name=".WeakAccountProtectionAlertActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ManageChatHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_properties_manage_chat"
            android:launchMode="singleTop" />
        <activity
            android:name=".presentation.contact.authenticitycredendials.AuthenticityCredentialsActivity"
            android:label="@string/authenticity_credentials_label"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.GiphyPickerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/search_giphy_title"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.GiphyViewerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".textEditor.TextEditorActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".contacts.ContactsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".meeting.activity.MeetingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".meeting.activity.LeftMeetingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".main.megachat.ChatUploadService"
            android:exported="false" />
        <service
            android:name=".meeting.CallService"
            android:exported="false" />
        <service
            android:name=".DownloadService"
            android:exported="false" />
        <service
            android:name=".meeting.CallNotificationIntentService"
            android:exported="false" />
        <service
            android:name=".notifications.DownloadNotificationIntentService"
            android:exported="false" />
        <service
            android:name=".UploadService"
            android:exported="false" />
        <service
            android:name=".mediaplayer.service.AudioPlayerService"
            android:exported="false" />
        <service
            android:name=".mediaplayer.service.VideoPlayerService"
            android:exported="false" />
        <service
            android:name=".jobservices.CameraUploadsService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <receiver
            android:name=".receivers.CustomInstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.CameraEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ChargeEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BootEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="mega.privacy.android.app.providers.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <provider
            tools:replace="android:authorities"
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--    remove default WorkManager initializer-->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.EmojiInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.LoggerInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.CheckMegaStandbyBucketInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.GetTombstoneInfoInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.CheckAppUpgradeInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.SetupMegaApiInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.MegaApiFolderInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mega.privacy.android.app.initializer.FrescoInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".main.megachat.MapsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mega.privacy.android.app.activities.PasscodeActivity" />
        </activity>
        <activity
            android:name=".activities.OverDiskQuotaPaywallActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="nz.mega.documentscanner.DocumentScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/DocumentScannerTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".myAccount.editProfile.EditProfileActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".myAccount.MyAccountActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".exportRK.ExportRecoveryKeyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".upgradeAccount.UpgradeAccountActivity"
            android:label="@string/action_upgrade_account"
            android:launchMode="singleTop" />
        <activity
            android:name=".upgradeAccount.ChooseAccountActivity"
            android:label="@string/choose_account_fragment"
            android:launchMode="singleTop" />

        <activity
            android:name="mega.privacy.android.app.upgradeAccount.PaymentActivity"
            android:label="@string/payment"
            android:launchMode="singleTop" />

        <receiver android:name=".psa.AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.checking.psa" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".presentation.chat.dialog.AskForDisplayOverActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.settingsActivities.StartScreenPreferencesActivity"
            android:label="@string/start_screen_setting"
            android:launchMode="singleTop"/>

        <activity
            android:name="mega.privacy.android.app.namecollision.NameCollisionActivity"
            android:label="@string/title_duplicated_items"
            android:launchMode="singleTop"/>

        <activity
            android:name="mega.privacy.android.app.presentation.permissions.NotificationsPermissionActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name="mega.privacy.android.app.uploadFolder.UploadFolderActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name="mega.privacy.android.app.presentation.startconversation.StartConversationActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name="mega.privacy.android.app.presentation.meeting.ScheduledMeetingInfoActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name="mega.privacy.android.app.presentation.photos.albums.photosselection.AlbumPhotosSelectionActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"/>

    </application>

</manifest>