<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mega.privacy.android.app"
    android:installLocation="auto"
    android:versionCode="262"
    android:versionName="3.2.4 (262)" >

    <uses-sdk
        android:minSdkVersion="11"
        android:maxSdkVersion="27"
        android:targetSdkVersion="26" />

    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="MegaApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Megaactionbar" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="mega.privacy.android.app.lollipop.LoginActivityLollipop"
            android:theme="@style/no_title_activity"
            android:label="@string/login_text"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name="WebViewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.WebViewActivityLollipop"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="LauncherActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.ManagerActivityLollipop"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.megaachievements.AchievementsActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="OpenLinkActivity" android:launchMode="singleTask" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
                <category android:name="android.intent.category.BROWSABLE" ></category>
                <data android:host="mega.co.nz" android:scheme="https" > </data>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
                <category android:name="android.intent.category.BROWSABLE" ></category>
                <data android:host="www.mega.co.nz" android:scheme="https" > </data>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
                <category android:name="android.intent.category.BROWSABLE" ></category>
                <data android:host="mega.nz" android:scheme="https" > </data>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
                <category android:name="android.intent.category.BROWSABLE" ></category>
                <data android:host="www.mega.nz" android:scheme="https" > </data>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
                <category android:name="android.intent.category.BROWSABLE" ></category>
                <data android:scheme="mega" > </data>
            </intent-filter>
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.FullScreenImageViewerLollipop"
            android:label="@string/full_screen_image_viewer_label"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.ChatFullScreenImageViewer"
            android:label="@string/full_screen_image_viewer_label"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.ContactFileListActivityLollipop"
            android:label="@string/contact_properties_activity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.FileContactListActivityLollipop"
            android:label="@string/file_properties_shared_folder_select_contact"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize">
        </activity>

       <activity 
            android:name="mega.privacy.android.app.lollipop.FileExplorerActivityLollipop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity android:name="mega.privacy.android.app.providers.PinFileProviderActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="mega.privacy.android.app.providers.FileProviderActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.intent.action.PICK"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="x-conference/*"/>
                <data android:mimeType="model/*"/>
                <data android:mimeType="chemical/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="x-conference/*"/>
                <data android:mimeType="model/*"/>
                <data android:mimeType="chemical/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.FileStorageActivityLollipop"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.ContactsExplorerActivityLollipop"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.PhoneContactsActivityLollipop"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.FolderLinkActivityLollipop"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.megachat.NodeAttachmentActivityLollipop"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.megachat.ContactAttachmentActivityLollipop"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.FileLinkActivityLollipop"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="mega.privacy.android.app.OpenPasswordLinkActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.ChangePasswordActivityLollipop"
            android:label="@string/my_account_change_password">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.GetLinkActivityLollipop"
            android:label="@string/context_get_link_menu">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.PinLockActivityLollipop"
            android:label="@string/settings_pin_lock"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.ZipBrowserActivityLollipop"
            android:label="@string/zip_browser_activity"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.AddContactActivityLollipop"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.megachat.ChatActivityLollipop"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.ContactInfoActivityLollipop"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.FileInfoActivityLollipop"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.megachat.GroupChatInfoActivityLollipop"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="mega.privacy.android.app.lollipop.megachat.ChatPreferencesActivity"
            android:label="@string/contact_properties_activity"
            android:theme="@style/Theme.Megaactionbar"
            android:launchMode="singleTop">
        </activity>

        <service
            android:name="CameraSyncService"
            android:exported="false" >
        </service>

        <service
            android:name="mega.privacy.android.app.lollipop.megachat.ChatUploadService"
            android:exported="false" >
        </service>

        <service
            android:name="DownloadService"
            android:exported="false" >
        </service>

        <service
            android:name="UploadService"
            android:exported="false" >
        </service>

        <service
            android:name="MegaStreamingService"
            android:exported="false" >
        </service>

        <service
            android:name=".fcm.MegaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".fcm.MegaFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Used for Google Play Store Campaign Measurement-->
        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name="mega.privacy.android.app.receivers.CustomInstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="mega.privacy.android.app.receivers.CameraEventReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="mega.privacy.android.app.receivers.NetworkStateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="mega.privacy.android.app.receivers.ChargeEventReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="mega.privacy.android.app.receivers.BootEventReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="mega.privacy.android.app.providers.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
