<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="mega.privacy.android.feature.payment.presentation.upgrade.UpgradeAccountActivity"
            android:label="Upgrade account"
            android:launchMode="singleTop" />
        <activity
            android:name="mega.privacy.android.feature.payment.presentation.cancelaccountplan.CancelAccountPlanActivity"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>
</manifest>
