[submodule "app/src/main/jni/mega/sdk"]
	url = https://github.com/meganz/sdk.git
	branch = develop
[submodule "app/src/main/jni/megachat/sdk"]
	url = https://github.com/meganz/MEGAchat.git
	branch = develop
